{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
    ]}.


{deps, [
    % JSON encoder/decoder
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.1"}}},

    %% Logging framework.
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}}
]}.


{escript_incl_apps, [lager, illithid_engine, illithid_cli]}.
{escript_main_app, illithid_cli}.
{escript_name, illithid}.
{escript_emu_args, "%%! -escript main illithid_cli +sbtu +A1\n"}.


{relx, [{release, {illithid, "0.0.1"},
         [lager,
         illithid_engine,
         illithid_cli,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{cover_enabled, true}.

{profiles, [

    {prod, [
        {relx, [{dev_mode, false},
                {include_erts, true}]
        }
    ]},
    {test, [
        {deps, [ ]},
        {eunit_opts, [
            verbose,
            {report, {eunit_progress, [colored, profile]}}]
        }
    ]}
]}.

{alias, [
    {check, [
        escriptize,
        {eunit, "-v"},
        {ct, "-v"}%,
        %{proper, "-v"}
    ]}
]}.


