{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
    ]}.


{deps, [
    % JSON encoder/decoder
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "master"}},

    %% Logging framework.
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}}
]}.


{escript_incl_apps, [lager, illithid_engine, illithid_cli]}.
{escript_main_app, illithid_cli}.
{escript_name, illithid}.
{escript_emu_args, "%%! -escript main illithid_cli +sbtu +A1\n"}.


{relx, [{release, {illithid, "0.0.1"},
         [illithid_engine,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.


% Lager configuration.
{lager, [
    % Console colors.
    {colored, true},

    % Log handlers configuration.
    {handlers, [
        % Console logging.
        {lager_console_backend, debug}

    ]}
]}.

{profiles, [

    {prod, [
        {relx, [{dev_mode, false},
                {include_erts, true}]
        }
    ]},
    {test, [
        {deps, [ ]},
        {eunit_opts, [
            verbose,
            {report, {eunit_progress, [colored, profile]}}]
        }
    ]}
]}.

{alias, [
    {check, [
        {eunit, "-v"},
        {ct, "-v"}%,
        %{proper, "-v"}
    ]}
]}.


